  <!-- COOKIE STUFF!!! -->
  <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/3.1.0/cookie-consent.js">
  </script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      cookieconsent.run({
        "notice_banner_type": "simple",
        "consent_type": "express",
        "palette": "dark",
        "language": "en",
        "website_name": "Wgyt"
      });
    });
  </script>
  <!-- google analytics -->
  <script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=UA-163477945-4"> </script>
  <script type="text/plain" cookie-consent="tracking">window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag("js", new Date()); gtag("config","UA-163477945-4");
	</script>
  <!-- end of COOKIE STUFF!!! -->
<meta http-equiv="refresh" content="0; URL=/./" />